

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #demo-dtable-04 td, #demo-dtable-04 th {
        border: 1px solid #ddd !important;
        padding: 5px;
    }

    #demo-dtable-04 tr:hover {
        background-color: #ddd !important;
    }

    #demo-dtable-04 tr:nth-child(even) {
        background-color: #f2f2f2 !important;
    }

    #demo-dtable-04 th {
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: left;
        background-color: #2da3bf !important;
        color: black;
    }

    .ui-pnotify {
        /*position:absolute !important;
      height:auto !important;*/
        z-index: 10000 !important;
    }
</style>
<style type="text/css">
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 10000;
        padding-top: 0px;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        margin: 0px !important;
    }

    /* Modal 2 Content */
    .modal-content-modal2 {
        position: relative !important;
        margin: auto !important;
        padding: 0 !important;
        width: 95% !important;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        top: 10% !important;
    }

    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 75%;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        top: 10%;
    }

    /* Add Animation */


    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
        min-height: 650px !important;
        overflow: hidden;
    }


    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .select2-drop {
        z-index: 99999;
        width: auto !important;
        /*width: 120%;*/
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mainSales").addClass("active open");
        $("#childSales").addClass("active");
        $("#mainHome").removeClass("active open");
        $("#childIndex").removeClass("active");

    });
</script>


<div id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-graph"></i><a href="@Url.Action("Index", "Sale")">Sales</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            Take Count Edit
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title"><i class="icon-tag"></i> Take Count Edit </span>
            </div>
            <div class="widget-content form-container">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="span12">
                            <div class="control-group">
                                <div class="span4">
                                    <label class="control-label">Outlet</label>
                                    <div class="controls">
                                        <select id="ddlOutlet" class="required span12 select2-select-00"></select>
                                    </div>
                                </div>
                                <div class="span3">
                                    <label class="control-label">From Date</label>
                                    <div class="controls">
                                        <input type="text" id="txtFrom" class="required span12 ftDate" />

                                    </div>
                                </div>
                                <div class="span3">
                                    <label class="control-label">To Date</label>
                                    <div class="controls">
                                        <input type="text" id="txtTo" class="required span12 ftDate" />
                                    </div>
                                </div>
                                <div class="span2">
                                    <label class="control-label"><input type="button" class="btn btn-info" value="Search" id="btnSearch" /></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0px">
                                    <div id="divTable" class="widget-content table-container" style="overflow:auto; max-height:375px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                </form>
            </div>
        </div>


        <!-- The Modal Add Countaken-->
        <div id="myModal" class="modal" data-backdrop="false">

            <!-- Modal content -->
            <div class="modal-content">
                @*<div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Header</h2>
                    </div>*@
                <div class="modal-body">
                    <div class="page-content countakenModel" id="countakenModel">
                        <div class="row-fluid">
                            <div class="span12 widget">
                                <div class="widget-header">
                                    <span class="title">Take Count By</span>
                                </div>
                                <div class="widget-content form-container">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="control-group">
                                                <div class="span5">
                                                    <label class="control-label">Date</label>
                                                    <div class="controls">
                                                        <input type="text" id="txtCountakenDate" readonly class="span12" />
                                                    </div>
                                                </div>
                                                <div class="span5">
                                                    <label class="control-label">Outlet</label>
                                                    <div class="controls">
                                                        <input type="text" id="txtOutlet" readonly class="span12" />
                                                        <input type="hidden" id="hfCoOutletId" value="" />
                                                        <input type="hidden" id="hfCoDate" value="" />
                                                    </div>
                                                </div>
                                                <div class="span2">
                                                    @*<label class="control-label">Countaken Amount</label>
                                                            <div class="controls">
                                                                <input type="hidden" id="txtCountakenAmount" value="0" />
                                                        </div>*@
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <div class="controls" style="margin-left: 0px">
                                                    <div id="divTblTakeCount" class="widget-content table-container" style="overflow:auto; max-height:360px;">
                                                        <table class="table table-bordered" id="tblTakeCount">
                                                            <thead style="background-color: #e3e47a">
                                                                <tr>
                                                                    <th style="width: 110px;">Payment Method</th>
                                                                    <th>EFTPOS</th>
                                                                    <th>Cash</th>
                                                                    <th>Cheque</th>
                                                                    <th>Paypal</th>
                                                                    <th>Bank Transfer</th>
                                                                    <th>Other</th>
                                                                    <th>After Pay</th>
                                                                    <th>Humm</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="idTaketbody"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <div class="span2">
                                                </div>
                                                <div class="span8">

                                                    <label class="control-label" for="txtNotes">Notes </label>
                                                    <div class="controls">
                                                        <input type="text" id="txtNotes" class="span12">
                                                    </div>
                                                </div>
                                                <div class="span2">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <div class="form-actions" style="padding-left: 32%;">
                                            <input type="button" class="btn btn-primary" value="Save" id="btnCSave" style="width:90px;" />
                                            <input type="button" class="btn btn-danger" value="Cancel" id="btnCCancel" style="width:90px;" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


@section scripts
{
    <script type="text/javascript">
        var base = '@Url.Content("~/")';
        $.getScript('@Url.Content("~/App_Js/Sale/TakeCountEdit.js")',
            function (data, textStatus, jqxhr) {
                console.log('Script File Load Status=' + jqxhr.status);
            });
    </script>
}





