
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
     $(document).ready(function () {
        $("span#sidebar-toggle").trigger('click');
        $("#mainHome").removeClass("active open");
        $("#mainSales").removeClass("active open");
        $("#mainAdministrator").removeClass("active open");
        $("#mainReports").removeClass("active open");
        $("#mainPurchase").removeClass("active open");
        $("#mainInventory").removeClass("active open");
        $("#mainReports").addClass("active open");
    });

</script>


<div id="main-header" class="page-header">
    <div id="main-content">
        <div id="dividReports">

        </div>
    </div>

</div>

@section scripts
{
    <script type="text/javascript">
        var base = '@Url.Content("~/")';
        $.getScript('@Url.Content("~/App_Js/DashBoard/Reports.js")',
            function (data, textStatus, jqxhr) {
                console.log('Script File Load Status=' + jqxhr.status);
            });
    </script>
}


