
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
          /**    Tabs     **/
          .tabs {
              display: flex;
              width: 100%;
              flex-wrap: wrap;
          }

              .tabs label {
                  order: 1;
                  padding: 1rem 2rem;
                  margin-right: 0.2rem;
                  cursor: pointer;
                  background: #9690f9;
                  font-weight: bold;
                  transition: background ease 0.2s;
              }

              .tabs .tab {
                  order: 99;
                  width: 100%;
                  display: none;
                  padding: 1rem;
                  background: #fff;
              }

              .tabs input[type="radio"] {
                  display: none;
              }

              .tabs input[type="radio"]:checked + label {
                 background: #efeeee;
              }

             .tabs input[type="radio"]:checked + label + .tab {
              display: block;
           }

          .Tabmargin {
              margin-left: -13px;
              margin-top: -13px;
          }

          /**
     * Generic Styling
    */
          /*body {
              background: #eee;
              padding: 35px;
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              font-weight: 300;
              line-height: 1.5;
              margin: 0 auto;
              font-size: 11px;
          }*/

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mainPurchase").addClass("active open");
        $("#childIndex").addClass("active");
        $("#mainHome").removeClass("active open");
        $("#childIndex").removeClass("active");
    });
</script>

<div id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-shopping-cart"></i><a href="@Url.Action("Index", "Purchase")">Purchase</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            Incoming and Production Stock List
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title"><i class="icon-tag"></i> Incoming and Production Stock List </span>
            </div>
            <div class="widget-content form-container">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="span12">
                            <div class="control-group">
                                <div class="span3">
                                    <label class="control-label">From Date</label>
                                    <div class="controls">
                                        <input type="text" id="txtFromDate" class="required span12 ftDate" />
                                    </div>
                                </div>
                                <div class="span3">
                                    <label class="control-label">To Date</label>
                                    <div class="controls">
                                        <input type="text" id="txtToDate" class="required span12 ftDate" />
                                    </div>
                                </div>
                                <div class="span2">
                                    <label class="control-label"><input type="button" class="btn btn-info" value="Search" id="btnSearch" /></label>
                                    <div class="controls">
                                    </div>
                                </div>
                                <div class="span4">
                                    <a href="javascript:" class="btn_style1 excel" onclick="doExcel()"><span style="font-size:larger;font-weight:bold">Download Excel</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0px">
                                    <div class="tabs">
                                        <input type="radio" name="tabs" id="Incoming" checked="checked">
                                        <label for="Incoming">INCOMING ORDERS</label>
                                        <div class="tab">
                                            <div id="IncomingTable" class="Tabmargin">
                                            </div>
                                        </div>
                                        <input type="radio" name="tabs" id="Production">
                                        <label for="Production">PRODUCTION ORDERS</label>
                                        <div class="tab">
                                            <div id="ProductionTable" class="Tabmargin">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                </form>
            </div>
        </div>
    </div>

</div>
<!-- Demo Scripts -->
@*<script src="~/App_Theme/assets/js/demo/dataTables.js"></script>*@
<script src="~/Scripts/Xlsx/xlsx.full.min.js"></script>
<script src="~/Scripts/Xlsx/FileSaver.min.js"></script>
<script src="~/Scripts/jquery.rowspanizerForIncomingProduction.js"></script>
@section scripts
{
    <script type="text/javascript">
        var base = '@Url.Content("~/")';
        $.getScript('@Url.Content("~/App_Js/Purchase/IncomingProductionStockList.js")',
            function (data, textStatus, jqxhr) {
                console.log('Script File Load Status=' + jqxhr.status);
            });
    </script>
}





