
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#mainInventory").addClass("active open");
        $("#childStocklistLocationwise").addClass("active");
        //$("#mainHome").removeClass("active open");
        //$("#childIndex").removeClass("active");

    });

</script>

<style type="text/css">
    .table td, .table th {
        border: 1px solid #ddd !important;
        padding: 5px;
    }

    .table tr:hover {
        background-color: #ddd !important;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2 !important;
    }

    .table th {
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: left;
        background-color: #4CAF50 !important;
        color: black;
    }

    a.tooltip {
        outline: none;
    }

        a.tooltip strong {
            line-height: 30px;
        }

        a.tooltip:hover {
            text-decoration: none;
        }

        a.tooltip span {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: -10px;
            margin-left: 28px;
            width: 120px;
            line-height: 12px;
        }

        a.tooltip:hover span {
            display: inline;
            position: absolute;
            color: red;
            border: 1px solid #DCA;
            background: #fffAF0;
        }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }

    /*CSS3 extras*/
    a.tooltip span {
        border-radius: 4px;
        box-shadow: 5px 5px 8px #CCC;
    }

    tr > td .spnTooltip {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -10px;
        margin-left: 28px;
        width: 140px;
        line-height: 12px;
    }

    tr > td:hover .spnTooltip {
        display: inline;
        position: absolute;
        color: red;
        border: 1px solid #DCA;
        background: #fffAF0;
    }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }

    /*  Modal table */
    .tabelle {
        width: 100%;
        border-collapse: collapse;
    }

    .zelle {
        padding: 3px;
        background-color: SkyBlue;
        font-family: Verdana;
        font-size: 12px;
        text-align: center;
        color: Black;
    }

    th {
        background-color: SteelBlue;
        padding: 3px;
        color: White;
        font-size: 12px;
        font-family: Verdana;
    }

    .separate {
        border-spacing: 0;
        border-collapse: separate;
    }

        .separate td, table.separate th {
            border-bottom: 1px solid Gray;
            border-right: 1px solid Gray;
        }

        .separate tr th:first-child, table.separate tr td:first-child {
            border-left: 1px solid Gray;
            height: 30px;
            text-align: center;
        }

        .separate tr:first-child th, table.separate tr:first-child td {
            border-top: 1px solid Gray;
            height: 15px;
            text-align: center;
        }
      
</style>


<div class="page-content">

    <div class="row-fluid">
        @*<div class="span12 widget">*@
        <div id="Iddiv" class="widget-content table-container">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="span6">
                            @* <label class="control-label">Item Code</label>
                                <div class="controls">
                                    <select id="ddlHead" class="required span12 select2-select-00"></select>
                                </div>*@

                        </div>
                        <div class="span2">
                            @*<input type="button" id="btnSearch" class="btn btn-info" value="Search" />*@
                        </div>
                        <div class="span4" style="float:left;">
                            <input type="button" class="btn btn-inverse" id="btnExportToExcel" value="Export To Excel" />
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
        @*</div>*@
    </div>

    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title"> Stock list Location Wise </span>
            </div>
            <div class="widget-content form-container">

                <div id="divTable" class="widget-content table-container">

                </div>
            </div>
        </div>
    </div>

</div>



@section scripts
{
    <script type="text/javascript">
        var base = '@Url.Content("~/")';
        $.getScript('@Url.Content("~/App_Js/SearchBoard/StocklistLocationwise.js")',
            function (data, textStatus, jqxhr) {
                console.log('Script File Load Status=' + jqxhr.status);
            });
    </script>
}





