
<form id="wizard-demo-Register" class="form-horizontal" data-forward-only="false">
    <fieldset class="wizard-step">
        <legend class="wizard-label" id="AllClick"><i class="icon-book"></i> All Sale</legend>
        <div class="control-group" style="padding-top: 1px;">
            <div class="span12">
                <div id="divTableAllSale" class="widget-content table-container">
                </div>
            </div>

        </div>
    </fieldset>

    <fieldset class="wizard-step">
        <legend class="wizard-label"><i class="icol-bookmark-book-open"></i> Open Invoices</legend>
        <div class="control-group" style="padding-top: 1px;">
            <div class="span12">
                <div id="divTableOpenInv" class="widget-content table-container">
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="wizard-step">
        <legend class="wizard-label"><i class="icon-file-openoffice"></i> Close Invoices</legend>
        <div class="control-group" style="padding-top: 1px;">
            <div class="span12">
                <div id="divTableCloseInv" class="widget-content table-container">
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset class="wizard-step">
        <legend class="wizard-label"><i class="icon-remove-sign"></i>Canceled Invoices</legend>
        <div class="control-group" style="padding-top: 1px;">
            <div class="span12">
                <div id="divTableCancelInv" class="widget-content table-container">
                </div>
            </div>
        </div>

    </fieldset>
    <fieldset class="wizard-step">
        <legend class="wizard-label"><i class="icon-file-zip"></i> Return & Credits</legend>
        <div class="control-group" style="padding-top: 1px;">
            <div class="span12">
                <div id="divTableReturnCredits" class="widget-content table-container">
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset class="wizard-step">
        <legend class="wizard-label" id="QuotesClick"><i class="icol-bookmark-folder"></i> Quotes</legend>
        <div class="control-group" style="padding-top: 1px;">
            <div class="span12">
                <div id="divTableQuotes" class="widget-content table-container">
                </div>
            </div>
        </div>

    </fieldset>

</form>