
<div class="form-actions" style="text-align:center">
    <input type="button" class="btn btn-info" value="Cancel" id="btnRefresh" style="width:115px;float:left;background: #FF0000" />
    <input type="button" class="btn btn-danger" value="Cancel" id="btnCancel" style="width:85px;margin-left:317px" />
    <input type="button" class="btn btn-primary" value="Refresh" id="btnSave" style="width:100px;margin-right:317px;background: #34A853" />
</div>
