
<div class="form-actions" style="padding-left: 32%;">
    <input type="button" class="btn btn-primary" value="Save" id="btnSave" style="width:85px;" />
    <input type="button" class="btn btn-info" value="Refresh" id="btnRefresh" style="width:100px;" />
    <input type="button" class="btn btn-danger" value="Cancel" id="btnCancel"  style="width:85px;"/>
</div>
